services:
  - type: web
    name: blog-symfony
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: blog-db
          property: connectionString
      - key: MAILER_DSN
        value: smtp://localhost:1025
    healthCheckPath: /

databases:
  - name: blog-db
    databaseName: blog_db
    user: blog_user
    plan: free